<form [formGroup]="personalForm" (ngSubmit)="submitForm()">

    <input type="text" class="form-control" formControlName="first_name"> &nbsp;&nbsp;
    <input type="text" class="form-control" formControlName="last_name">

    <button class="btn btn-primary">Submit Form</button>

</form>

<br>

<button (click)="updateFormByPatchValue()" class="btn btn-warning">update Form By Patch Value</button> &nbsp;&nbsp;
<button (click)="updateFormBySetValue()" class="btn btn-danger">update Form By Set Value</button>
